.top-players-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-players-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    width: 60%;
}

.top-players-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-weight: bolder;
    font-size: 24px;

}

.top-players-list li:nth-child(1) {
    order: 2;
    width: 33%;
    height: 200px;
    background-color: gold;
}

.top-players-list li:nth-child(2) {
    order: 1;
    width: 33%;
    height: 150px;
    background-color: silver;
}

.top-players-list li:nth-child(3) {
    order: 3;
    width: 33%;
    height: 100px;
    background-color: sandybrown;
}

@media (max-width: 600px) {
    .top-players-list {
        width: 100%;
    }
}

.top-players-section .heading {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.top-players-section .heading h2 {
    color: white;
    margin: 0;
    font-weight: bolder;
}

.other-players-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.other-players-list li {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom: 1px solid var(--gray4);
    align-items: center;
    padding: 0;
}

.others {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.others h2 {
    margin: 0;
}