.keyboard {
    background: #F6F6F6;
    padding: 45px 40px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.content-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .bottom-content {
        grid-template-columns: 1fr;
    }
}

.svgs-container {
    width: 512px;
    height: 512px;
    border: 1px dotted #007bff;
}

.hiddenWord {
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 20px;
}

@media (max-width: 1100px) {

    .content-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .keyboard {
        padding: 10px 10px;
    }

    .hiddenWord {
        font-size: clamp(16px, 6vw, 48px);
        font-weight: bolder;
        margin-bottom: 0;
        letter-spacing: 2vw;
    }

}