.score-tracker-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid var(--gray4);
}

.score-tracker-grid > h2{
    margin: 0;
}

.score-tracker-grid > p {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-default);
}

.score-tracker-grid > div:not(.top-row) {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    line-height: 1.5;
}

.top-row {
    color: white;
    background-color: var(--primary-color);
    margin: 0;
    font-weight: bolder;
}