.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    flex-shrink: 0;
    border-radius: 3px;
    overflow: hidden;
    background-image: url("../../assets/frontRope.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.login-container h4 {
    margin-bottom: 10px;
}

.login-container h4, .login-container .toggle-switch-container {
    align-self: start;
}

.loginBox {
    width: max(320px);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.loginBox > h2{
    background-color: var(--primary-color);
    color: white;
    padding: 14px;
    margin: 0;
}

.loginBox >.choose-name-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
}

.choose-name-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--text-default);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#playBtn {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 12px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    50% { transform: translateX(-6px); }
    60% { transform: translateX(6px); }
    70% { transform: translateX(-4px); }
    80% { transform: translateX(4px); }
    90% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease;
}

.loginBox p {
    padding: 10px;
    margin: 10px 20px;
    background-color: var(--bg-purple-light);
    border-radius: 4px;
    font-size: 12px;
    color: var(--primary-color);
}

@media (max-width: 1500px) {
    /* Replace 600px with the height of your image */
    .login-container {
        background-image: none;

    }
}

