@font-face {
    font-family: 'CabinetGrotesk';
    src: url('./assets/CabinetGrotesk-Variable.ttf');
}

:root {
    --primary-color: #4F4CEE;
    --gray4: #BDBDBD;
    --text-2ndLightest: #DDDDDE;
    --text-default: #1B1B25;
    --bg-purple-light: #F0EFFE;
}


body, html {
  font-family: 'CabinetGrotesk', 'Inter', sans-serif;
  text-align: center;
  margin: auto;
  max-width: 1440px;
  overflow-x: hidden;
    color: var(--text-default);
}

@media (max-width: 600px) {
    body, html {
        padding: 0;
    }
}

.app-nav nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.app-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.app-nav #navigation{
    display: inline-flex;
    padding: 16px 12px;
    align-items: flex-start;
    gap: 35px;
}

.app-nav li {
    display: inline;
    padding: 10px;
    border-radius: 8px;
}

.app-nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#navigation >li >.active {
    color: var(--primary-color);
    font-weight: bolder;
    transition: color 0.5s ease;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}


@media only screen and (max-width: 600px) {

    .app-nav nav h3 {
        order: 1;
    }

    .app-nav nav .settings-section {
        order: 2;
    }

    .app-nav nav ul {
        order: 3;
    }
}


